<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%- for sheet in 'main input utils landing'.split() %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/' + sheet + '.css') }}">
    {%- endfor %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>

    <title>LingoSynth</title>
</head>
<body>
    <nav>
        <a href="/">
            Home
        </a>
        <a href="https://github.com/luna-oss/lingosynth" target="_blank">
            GitHub
        </a>
        <a href="mailto:neostyxde+lingosynth@gmail.com">
            Contact
        </a>
    </nav>
    
    {% block header %}{% endblock %}
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        &copy; 2023 LingoSynth. All rights reserved.
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>